{{#each posts as |post|}}
<section data-id="{{post.id}}"class="userPostContainer">
    <p data-id="{{post.id}}" class="userPost">{{title}}</p>
    <p data-id="{{post.id}}" class="postCreatedAt">{{created_at}}</p>
</section>
{{/each}}
<button class="newPostBtn" >+ New Post</button>
<script src="/js/newPost.js"></script>